.validation-container {
    background: linear-gradient(90deg, #f7931e52 50%, #3490dc3b 50%);
    height: 100vh;

    .validation-login-container {
        max-width: 1000px;
        transform: translate(0, 20%);
        margin: 0 auto;
        padding: 64px 60px 110px;
        background-color: #ffffffc7;
        border-radius: 20px;
        box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%),
            0 12px 15px 0 rgb(0 0 0 / 24%);

        @media (max-width: 660px) {
            transform: translate(0, 0);
        }

        .validation-login-title{
            width: 100%;
        }

        .validation-image {
            min-height: 380px;
            width: 500px;
            overflow: hidden;
            position: relative;

            img {
                @include image();

                @media (max-width: 660px) {
                    max-width: 460px;
                }
            }

            @media (max-width: 960px) {
                width: 300px;
            }
            @media (max-width: 660px) {
                width: 100%;
            }
        }
        .validation-form {
            width: calc(100% - 520px);

            .validation-form-title{
                font-size: 35px;
            }

            .change-validate-view{
                color: #3490dc;
                cursor: pointer;
            }

            @media (max-width: 960px) {
                width: calc(100% - 320px);
            }

            @media (max-width: 660px) {
                width: 100%;
            }
        }
    }
}
