@mixin icon {
    font-size: 21px;
    cursor: pointer;
    color: grey;
    margin: 0 10px;
}

.chat-friends-user-settings-container{
    background-color: #ededed;
    height: 60px;
    padding: 10px 16px;

    .user-settings-image-container{
        width: 60px;

        .user-settings-image{
            min-height: 40px;
            width: 40px;
            overflow: hidden;
            position: relative;
            border-radius: 50%;
            cursor: pointer;

            img {
                @include image();
            }
        }
    }

    .user-settings-options-container{
        width: calc(100% - 65px);

        .user-settings-add-user{
            @include icon();
        }

        .user-settings-out{
            @include icon();
        }

        .user-settings-bell{
            @include icon();

            .fa-bell{
                position: relative;
            }

            .bell-messages-count{
                position: absolute;
                background-color: #46e146;
                overflow: hidden;
                font-size: 9px;
                color: white;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                top: 13px;
                right: 61px;
                text-align: center;
            }
        }
    }
}