.new-chat-container {
    @include option-container();
    
    .new-chat-header {
        background-color: #ededed;
        height: 60px;
        padding: 10px 16px;
        border-top-left-radius: 10px;

        &-icon {
            width: 30px;
            font-size: 23px;
            cursor: pointer;
        }

        &-text {
            width: calc(100% - 30px);
            font-size: 20px;
            font-family: revert;
        }
    }

    .new-chat-search-container{
        padding: 11px 16px;
        background-color: #f6f6f6;
    }
}
