.user-add-friend-container {
    @include option-container();
    
    .user-add-friend-header {
        background-color: #ededed;
        height: 60px;
        padding: 10px 16px;
        border-top-left-radius: 10px;

        &-icon {
            width: 30px;
            font-size: 23px;
            cursor: pointer;
        }

        &-text {
            width: calc(100% - 30px);
            font-size: 20px;
            font-family: revert;
        }
    }

    .user-add-search-container{
        padding: 11px 16px;
        background-color: #f6f6f6;
    }
}

.move-container {
    opacity: 1;
    transform: translate(0%, 0);
    transition: opacity 0.6s ease-out, transform 0.6s;
}